@import "bundle";

#saveScreen {
  width: 100%;

  form {
    margin: 0;
  }

  textarea {
    width: 100%;
    height: 200px;
    font-family: monospace;
    font-size: 12px;
    margin: 10px 0;
  }

  .warning {
    color: red;

    input {
      color: darkred;
      font-variant: small-caps;
      font-weight: bold;
    }
  }
}
